---
import Title from '@/components/Title.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { FavoritePokemons } from './components/FavoritePokemons';
---

<MainLayout title="Favorites">
  <Title>Favorites</Title>

  <FavoritePokemons client:only="solid-js" />
</MainLayout>
